$mobile: 320px
$tablet: 768px
$desktop: 1200px

.review
    background-image: url("../img/5.png")
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    min-height: 731px
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-orient: vertical
    -webkit-box-direction: normal
    -ms-flex-direction: column
    flex-direction: column
    -webkit-box-pack: start
    -ms-flex-pack: start
    justify-content: flex-start
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center

    &__headline
        padding: 2em

    &__cont
        display: -webkit-box
        display: -ms-flexbox
        display: flex

    &__image
        max-width: 445px
        width: 70%
        min-height: 284px

    &__quote
        max-width: 668px
        width: 100%
        min-height: 284px
        background-color: #333333

    &__text
        padding: 30px
        font-family: "Josefin Sans", sans-serif
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 26px
        color: #E8E8E8

    &__headline-small
        padding-top: 20px
        padding-left: 30px
        font-family: "Josefin Sans", sans-serif
        font-style: normal
        font-weight: normal
        font-size: 20px
        line-height: 26px
        color: #FEFEFE
